body {
  margin: 0;
  padding: 0;
}

:root {
  --plank: 6vmin;
  --unit: 100vmin;
  --blue: #7818eb;
  --milk: grey;
  --strokewidth: 2px;
}

@media only screen and (max-width: 640px) {
  :root {
    --strokewidth: 1px;
  }
}

.t_section {
  background: var(--blue);
  stroke: var(--milk);
  fill: var(--blue);
}

svg {
  stroke-width: var(--strokewidth);
}

.typed-cursor {
  opacity: 1;
  animation: typedjsBlink 0.7s infinite;
  -webkit-animation: typedjsBlink 0.7s infinite;
  animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
